<nav>
    <div class="nav-wrapper purple">
      <div class="container">
        <a href="#" class="brand-logo">Nutz</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{% url 'ficha-paciente' %}">Ficha Paciente</a></li>
                <li><a href="{% url 'evaluacion-nutricional' %}">Evaluacion Nutricional</a></li>
                <li><a href="{% url 'params-bioquimicos' %}">Parametros Bioquimicos</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'registrar' %}">Registro</a></li>
            </ul>
      </div>
      </div>
</nav> 